Tax/TAXService/com/kingfisher/ukbq/TaxService/SapZRetRfcVattabget.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapzretrfcvattabget" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:sapasi="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:sapreturn619647890="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapreturn619647890" xmlns:sapttaxtab994896004="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapttaxtab994896004" xmlns:sapzretrfcvattabget="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapzretrfcvattabget" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapreturn619647890" schemaLocation="SapReturn619647890.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/sapttaxtab994896004" schemaLocation="SapTTaxtab994896004.xsd"/>
<xsd:import namespace="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata"/>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability">
<info:resourceAdapter version="7.0.0.0" xmlns:info="http://www.ibm.com/xmlns/prod/j2ca/versionCompatability"/>
</xsd:appinfo>
</xsd:annotation>

<xsd:annotation xml:space="preserve">
<xsd:appinfo source="commonj.connector.asi">
<asi:annotationSet asiNSURI="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata" xmlns:asi="commonj.connector.asi"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SapZRetRfcVattabget">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIBusinessObjectTypeMetadata>
<sapasi:Type>BAPI</sapasi:Type>
<sapasi:Operation>
<sapasi:MethodName>Z_RET_RFC_VATTABGET</sapasi:MethodName>
<sapasi:Name>Execute</sapasi:Name>
</sapasi:Operation>
</sapasi:sapBAPIBusinessObjectTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence maxOccurs="1" minOccurs="1">
<xsd:element maxOccurs="1" minOccurs="0" name="I_DATE_VALID" nillable="true" type="xsd:date">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>I_DATE_VALID</sapasi:FieldName>
<sapasi:FieldType>DATE</sapasi:FieldType>
<sapasi:PrimaryKey>true</sapasi:PrimaryKey>
<sapasi:ParameterType>IN</sapasi:ParameterType>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="I_VALID_ONLY" nillable="true">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>I_VALID_ONLY</sapasi:FieldName>
<sapasi:FieldType>CHAR</sapasi:FieldType>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ParameterType>IN</sapasi:ParameterType>
<sapasi:MaxLength>1</sapasi:MaxLength>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SapReturn619647890" nillable="true" type="sapreturn619647890:SapReturn619647890">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>RETURN</sapasi:FieldName>
<sapasi:FieldType/>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ParameterType>OUT</sapasi:ParameterType>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SapTTaxtab994896004" nillable="true" type="sapttaxtab994896004:SapTTaxtab994896004">
<xsd:annotation xml:space="preserve">
<xsd:appinfo source="http://www.ibm.com/xmlns/prod/websphere/j2ca/sap/metadata">
<sapasi:sapBAPIPropertyTypeMetadata>
<sapasi:FieldName>T_TAXTAB</sapasi:FieldName>
<sapasi:FieldType/>
<sapasi:PrimaryKey>false</sapasi:PrimaryKey>
<sapasi:ParameterType>INOUT</sapasi:ParameterType>
<sapasi:MaxLength>0</sapasi:MaxLength>
</sapasi:sapBAPIPropertyTypeMetadata>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

    <xsd:element ibmSchExtn:docRoot="true" name="SapZRetRfcVattabget" type="sapzretrfcvattabget:SapZRetRfcVattabget"/>
</xsd:schema>